/* HTML */
html{
    scroll-behavior: auto !important;
}

/* Body */
body{
    background-color: black;
    font-family: "Open Sans";
}

/* Navbar */
.navbar{
    background: transparent;
    position: fixed-top;
    width: 100vw;
    z-index: 1;
}

.navbar-brand img{
    height: 3.3125rem;
}

/* Slider */
#quienesSomos{
    color: white;
}

/*Destacados*/
#Destacados{
    color: white;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

#Destacados div{
    padding-bottom: 0.9rem;
}

#Destacados img{
    height: 150px;
}

#Destacados h6{
    font-family: "Opens Sans";
    font-weight: 400;
    font-size: 20px;
}

/* Contacto */
#Contacto{
    color: white;
}

#Contacto button{
    border-radius: 3px;
}


/* Footer */
#Footer a{
    color: white;
    text-decoration: none;
}

#Footer h3{
    padding: 1.5rem;
}

#Footer i{
    margin-top: 1.5rem;;
}
