/* HTML */
html{
    scroll-behavior: auto !important;
}

/* Body */
body{
    background-color: black;
}

/* Navbar */
.navbar{
    background: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand img{
    height: 3.3125rem;
}

/* Slider */
#quienesSomos{
    color: white;
}

/*Destacados*/
#Destacados{
    color: white;
}

#Destacados img{
    height: 150px;
}
/* Contacto */
#Contacto{
    color: white;
}


/* Footer */
#Footer a{
    color: white;
    text-decoration: none;
}