/* Body */
body{
    background-color: black;
}

/* Navbar */
nav{
    background: transparent;
}

.navbar-brand img{
    height: 3.3125rem;
}

/* Slider */
#quienesSomos{
    color: white;
}

/*Destacados*/
#destacados{
    color: white;
}

#destacados img{
    height: 150px;
}

/* Footer */
#Footer a{
    color: white;
    text-decoration: none;
}